// Media query breakpoints
$bp-1: '(min-width: 400px)';
$bp-2: '(min-width: 600px)';
$bp-3: '(min-width: 800px)';
$bp-4: '(min-width: 1000px)';
$bp-5: '(min-width: 1200px)';

$bp-1-max: '(max-width: 399px)';
$bp-2-max: '(max-width: 599px)';
$bp-3-max: '(max-width: 799px)';
$bp-4-max: '(max-width: 999px)';
$bp-5-max: '(max-width: 1199px)';

// Margins, widths etc
$site-width: 90%;
$max-site-width: 1080px;// Max site width
$margin: 25px;			// Standard margin for paragraphs, headings etc
$gutter: 5%;			// Space between columns
$border-radius: 4px;

// Fonts
$default-font: Helvetica, sans-serif;
$heading-font: Helvetica, sans-serif;

// Font-sizes
$h1-size: 3.8rem;
$h2-size: 3.2rem;
$h3-size: 2.4rem;
$h4-size: 2.0rem;
$h5-size: 1.8rem;
$h6-size: 1.6rem;

$default-size: 1.2rem;

$default-line-height: 1.8;
$heading-line-height: 1.05;

$default-font-weight: normal;
$heading-font-weight: lighter;

$heading-letter-spacing: -3px;

// Colors
$default-color: #333;
$heading-color: #555;
$gray-color: #999;
$link-color: #09f; // #09f;
$link-color-hover: #09f;
$link-color-visited: #609;
$error-color: #c00;
$border-color: #ccc;

$white-color: #fefefe;
$shadow-color: rgba(0, 0, 0, .4);

$dark-bg: #111;
$dark-gray-bg: #666;
$gray-bg: #f6f6f6;

$button-color: #fc3;
$button-secondary-color: #234;
$button-disabled-color: #555;
$button-fade: 0;
$button-border: 0;
$button-border-radius: 4px;
