// Screen Sizes
$bp-1: '(min-width: 400px)';
$bp-2: '(min-width: 800px)';
$bp-3: '(min-width: 1000px)';

// Site width
$margin: 20px;
$site-width: 940px;
$site-width-50: ($site-width - $margin) / 2;
$site-width-33: ($site-width - $margin * 2) / 3;
$site-width-25: ($site-width - $margin * 3) / 4;
$site-width-66: $site-width - $site-width-33 - $margin;
$site-width-75: $site-width - $site-width-25 - $margin;

// Backgrounds
$red-bg: #c61618;
$dark-red-bg: #a11b1c;
$gray-bg: #f5f5f5;
$light-blue-bg: #def2fd;
$dark-blue-bg: #093246;

// Colors
$default-color: #333;
$link-color: #3ea7de;
$link-color-hover: #c61618;
$heading-color: #2a2a2a;
$gray-color: #828282;
$white-color: #ffffff;
$separator-color: #bbbbbb;

// Fonts
$default-font: OpenSans, Helvetica, Arial, sans-serif;
$heading-font: OpenSans, Helvetica, Arial, sans-serif;

// Font Sizes
$small-size: 12;
$default-size: 14;
$large-size: 16;

$h1-size: 42;
$h2-size: 36;
$h3-size: 18;
$h4-size: 16;

// Misc
$border-radius: 4px;
