// Colors
$default-color: #2a2a2a;
$link-color: #d24917;
$link-color-hover: #dd052b;
$heading-color: #2a2a2a;
$gray-color: #595959;
$white-color: #ffffff;
$separator-color: #bbbbbb;

// Sizes
$small-size: 12;
$default-size: 14;
$large-size: 16;

$h1-size: 38;
$h2-size: 30;
$h3-size: 20;
$h4-size: 16;

$margin: 30px;
$border-radius: 4px;

// Fonts
$default-font: Helvetica, Arial, sans-serif;
$heading-font: Helvetica, Arial, sans-serif;
