// Media query breakpoints
$bp-1: '(min-width: 400px)';
$bp-2: '(min-width: 600px)';
$bp-3: '(min-width: 800px)';
$bp-4: '(min-width: 1000px)';
$bp-5: '(min-width: 1200px)';

$bp-1-max: '(max-width: 399px)';
$bp-2-max: '(max-width: 599px)';
$bp-3-max: '(max-width: 799px)';
$bp-4-max: '(max-width: 999px)';
$bp-5-max: '(max-width: 1199px)';

// Margins, widths etc
$site-width: 90%;
$max-site-width: 940px;	// Max site width
$margin: 20px;			// Standard margin for paragraphs, headings etc
$gutter: 5%;			// Space between columns
$border-radius: 4px;

// Fonts
$default-font: "Open Sans", sans-serif;
$heading-font: "Open Sans", sans-serif; // Ubuntu, Raleway, sans-serif;

// Font-sizes
$h1-size: 3.2rem;
$h2-size: 2.8rem;
$h3-size: 2.2rem;
$h4-size: 1.8rem;
$h5-size: 1.6rem;
$h6-size: 1.2rem;

$default-size: 1rem;

$default-line-height: 1.8;
$heading-line-height: 1.05;

$default-font-weight: normal;
$heading-font-weight: lighter;

$default-letter-spacing: 0;
$heading-letter-spacing: -2px;

// Text colors
$default-color: #444;
$heading-color: #555;
$gray-color: #999;
$link-color: #06c;
$link-color-hover: #06c;
$link-color-visited: #609;
$error-color: #c00;
$border-color: #ccc;

// Define white once in case we want to done it down everywhere later
$white-color: #fefefe;
$shadow-color: rgba(0, 0, 0, .4);

// Background colors
$default-bg: $white-color;
$alt-bg: #f6f6f6;
$inverted-bg: #111;

// Button colors
$button-color: #fc3;
$button-secondary-color: #234;
$button-disabled-color: #555;
$button-fade: 0;
$button-border: 0;
$button-border-radius: 4px;
$button-shadow: true;
$button-padding-top: .8rem;
$button-padding-side: 2.4rem;
