form {
	@include clearfix;
}

	fieldset {
		margin: 0;
		padding: 0;
		border: 0;
	}

	form h3 {
		text-transform: uppercase;
		margin-bottom: 0;
	}

	form p {
		position: relative; // To position errors
		margin: 0 0 $margin;
	}

	form p.small {
		width: 48%;
		float: left;
	}

	form p.small + * {
		clear: both;
	}

	form p.small + p.small {
		float: right;
		clear: none;
	}

		label {
			font-weight: bold;
		}

		input[type=radio] + label, 
		input[type=checkbox] + label {
			font-weight: normal;
		}

		form br {
			// May want to display: none; if one @a11y-hide's the labels
		}

	// Text inputs, selects and textareas
	@mixin form-field {
		@include linear-gradient(#f7f7f7, #ffffff);

		@include box-sizing(border-box);
		max-width: 100%;
	//	width: 100%;
		margin: 0;
		padding: 10px 15px;

		font: 100px/1.2 $default-font;
		@include font-size($small-size);
		color: $default-color;

		border: 1px solid #bbb;
		border: 1px solid rgba(0, 0, 0, .2);

		@include border-radius($border-radius);
		@include box-shadow(inset 1px 1px 1px rgba(0, 0, 0, .2));

		&:hover, 
		&:focus {
			border-color: #666;
			border-color: rgba(0, 0, 0, .4);
			outline: 0;
		}
	}

	input[type=text], 
    input[type=color], 
    input[type=date], 
    input[type=datetime], 
    input[type=datetime-local], 
    input[type=email], 
    input[type=month], 
    input[type=number], 
    input[type=range], 
    input[type=search], 
    input[type=tel], 
    input[type=time], 
    input[type=url], 
    input[type=week], 
	textarea, 
	select {
		@include form-field;
	}

	textarea {
		resize: vertical;
	}

	input[type=text]:hover, 
    input[type=color]:hover, 
    input[type=date]:hover, 
    input[type=datetime]:hover, 
    input[type=datetime-local]:hover, 
    input[type=email]:hover, 
    input[type=month]:hover, 
    input[type=number]:hover, 
    input[type=range]:hover, 
    input[type=search]:hover, 
    input[type=tel]:hover, 
    input[type=time]:hover, 
    input[type=url]:hover, 
    input[type=week]:hover, 
	input[type=text]:focus, 
    input[type=color]:focus, 
    input[type=date]:focus, 
    input[type=datetime]:focus, 
    input[type=datetime-local]:focus, 
    input[type=email]:focus, 
    input[type=month]:focus, 
    input[type=number]:focus, 
    input[type=range]:focus, 
    input[type=search]:focus, 
    input[type=tel]:focus, 
    input[type=time]:focus, 
    input[type=url]:focus, 
    input[type=week]:focus, 
	textarea:hover, 
	textarea:focus, 
	select:hover, 
	select:focus {
		border-color: #999;
		outline: 0;
	}

	select {
		@include linear-gradient(#ffffff, #fafafa);
		padding: 4px 9px;
		border: 1px solid #e5e5e5;
		@include box-shadow(1px 1px 1px #666);
	}

	select:focus {
		@include linear-gradient(#fafafa, #ffffff);
	}

	// Submit button
	form a.submit, 
	input[type=submit] {
		@include button;
		padding: 10px 25px;
	}

	input[type=submit] + a {
		margin-left: 10px;
	}

	// Validation styling
	form:not(.dont-validate) input.ui-state-error:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=button]), 
	form:not(.dont-validate) select.ui-state-error, 
	form:not(.dont-validate) textarea.ui-state-error {
		background-color: #fff3f3;
	}

	form:not(.dont-validate) input.ui-state-valid:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=button]), 
	form:not(.dont-validate) select.ui-state-valid, 
	form:not(.dont-validate) textarea.ui-state-valid {
		background-color: #f3fff3;
	}

	// Placeholder text
	::-webkit-input-placeholder {
		color: #999;
	}

	:-moz-placeholder {
		color: #999;
	}

	.placeholder {
		color: #999;
	}

	// Error message
	form strong.error {
		@include arrow(left, 5px, #fafafa, 2px, #999, 20px);

		background: #fdfdfd;

		@include box-sizing(border-box);
		display: block;
		width: 60%;
		margin: 0 -10px 0 0;
		padding: 10px;

		position: absolute;
		right: -60%;
		top: 10px;
		z-index: 99;

		font-weight: normal;

		border: 2px solid #999;
		@include border-radius($border-radius);
		@include box-shadow(0 0 6px #aaa);
	}

	// Datepicker icon
	form img.ui-datepicker-trigger {
		margin-left: 5px;
	}
