// Layout
html {
	font-size: 62.5%;
}

body {
	font: #{$default-size}px/1.6 $default-font;
	@include font-size($default-size);
	color: $default-color;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

	#content {
		@include clearfix;
	}

		#primary-content {
			width: 60%;
			float: left;
		}

		#secondary-content {
			width: 30%;
			float: right;
		}

// Headings
@mixin heading ($size: $h2-size) {
	margin: $margin 0 ($margin / 2);
	font: #{$size}rem/1.2 $heading-font;
	letter-spacing: -.04em;
	@include font-size($size);
	font-weight: 200;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	@include heading;
}

	h1 a, 
	h2 a, 
	h3 a, 
	h4 a, 
	h5 a, 
	h6 a {
		color: inherit;
		text-decoration: none;
	}

h1 {
	@include font-size($h1-size);
}

h2 {
	@include font-size($h2-size);
}

h3 {
	@include font-size($h3-size);
	font-weight: 500;
}

h4, 
h5, 
h6 {
	@include font-size($h4-size);
	font-weight: 500;
}

// Block margins
p, 
pre, 
dl, 
blockquote {
	margin: 0 0 $margin;
}

menu, 
ul, 
ol {
	margin: 0 0 $margin ($margin * 2);
	padding: 0;
}

dd {
	margin: 0 0 0 ($margin * 2);
}

// Inline elements
a {
	color: $link-color;
	text-decoration: underline;
}

a:hover {
	color: $link-color-hover;
	text-decoration: none;
}

a[href^="tel:"] {
//	@include icon($fa-var-phone);
}

strong {
	font-weight: 500;
}

img {
//	width: inherit; // Some IE fix but doesn't work well with other browsers
	max-width: 100%;
	height: auto;
}

q, 
blockquote {
	@include font-size($large-size);
	color: $gray-color;
	font-style: italic;
}

q:before, 
q:after, 
blockquote > :first-child:before, 
blockquote > :last-child:after {
	content: '"';
}
