// Screen Sizes
$small-tablet-size: 'only screen and (min-width: 600px)';
$medium-tablet-size: 'only screen and (min-width: 740px)';
$tablet-size: 'only screen and (min-width: 900px)';
$laptop-size: 'only screen and (min-width: 1200px)';
$hd-size: 'only screen and (min-width: 1600px)';

// Site width
$margin: 20px;
$site-width: 940px;
$site-width-50: ($site-width - $margin) / 2;
$site-width-33: ($site-width - $margin * 2) / 3;
$site-width-25: ($site-width - $margin * 3) / 4;
$site-width-66: $site-width - $site-width-33 - $margin;

// Colors
$default-color: #2a2a2a;
$link-color: #d24917;
$link-color-hover: #dd052b;
$heading-color: #2a2a2a;
$gray-color: #595959;
$white-color: #ffffff;
$separator-color: #bbbbbb;

// Fonts
$default-font: Helvetica, Arial, sans-serif;
$heading-font: Helvetica, Arial, sans-serif;

// Font Sizes
$small-size: 12;
$default-size: 14;
$large-size: 16;

$h1-size: 38;
$h2-size: 30;
$h3-size: 20;
$h4-size: 16;

// Misc
$border-radius: 4px;

// Layout
html {
	font-size: 62.5%;
}

body {
	font: #{$default-size}px/1.6 $default-font;
	@include font-size($default-size);
	color: $default-color;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

	#content {
		@include clearfix;
	}

		#primary-content {
			width: 60%;
			float: left;
		}

		#secondary-content {
			width: 30%;
			float: right;
		}

// Headings
@mixin heading ($size: $h2-size) {
	font: #{$size}px/1.2 $heading-font;
	@include font-size($size);
	font-weight: 700;
	margin: $margin 0 ($margin / 2);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	@include heading;
}

	h1 a, 
	h2 a, 
	h3 a, 
	h4 a, 
	h5 a, 
	h6 a {
		color: inherit;
	}

h1 {
	@include font-size($h1-size);
}

h2 {
	@include font-size($h2-size);
}

h3 {
	@include font-size($h3-size);
}

h4, 
h5, 
h6 {
	@include font-size($h4-size);
}

// Block margins
section, 
nav, 
p, 
pre, 
dl, 
blockquote {
	margin: 0 0 $margin;
}

menu, 
ul, 
ol {
	margin: 0 0 $margin ($margin * 2);
	padding: 0;
}

dd {
	margin: 0 0 0 ($margin * 2);
}

// Inline elements
a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $link-color-hover;
	text-decoration: underline;
}

a.button {
	@include button;
}

img {
	width: inherit;
	max-width: 100%;
	height: auto;
}

q {
	@include font-size($h4-size);
	font-style: italic;
}

q:before, 
q:after, 
blockquote > :first-child:before, 
blockquote > :last-child:after {
	content: '"';
}
