.alignnone {
    margin: 0 0 $margin;
}

.aligncenter {
    display: block;
    margin: 0 auto $margin;
}

.alignright {
	display: block;
	margin: 0 auto $margin;
}

.alignleft {
	display: block;
	margin: 0 auto $margin;
}

@media #{$bp-2} {
	.alignright {
		float: right;
		margin: 0 0 $margin $margin;
	}

	.alignleft {
		float: left;
		margin: 0 $margin $margin 0;
	}
}
