.alignfull, 
.alignnone, 
.aligncenter, 
.alignleft, 
.alignright {
	display: block;
	clear: both;
	margin: 0 0 $margin;
}

.alignleft {
	@include img-left($bp-3);
}

.alignright {
	@include img-right($bp-3);
}
