////////////////
// Media Queries
@custom-media --tablet (min-width: 600px);
@custom-media --tablet-max (max-width: 599px);

@custom-media --laptop (min-width: 1080px);
@custom-media --laptop-max (max-width: 1079px);

@custom-media --desktop (min-width: 1260px);
@custom-media --desktop-max (max-width: 1259px);

///////////////////
// Custom selectors
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--form-field input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], textarea;

// Config
:root {
	/////////
	// Layout
	--site-width: 1080px;
	--site-width-min: 90%;
	--site-padding: calc((100% - var(--site-width-min)) / 2);

	// NOTE: (site-width / site-width-min) * 100px
	@media (min-width: 1200px) {
		--site-padding: calc((100vw - var(--site-width)) / 2);
	}

	//////////
	// Spacing
	--spacing-section: 5rem;
	--spacing-default: 1rem;

	/////////
	// Colors
	--color-body-bg: white;
	--color-border: #dedede;
	--color-overlay: rgba(0, 0, 0, .4);

	// Typography colors
	--color-text: #111;
	--color-heading: #222;

	// Link colors
	--color-link: #06f;
	--color-link-hover: #06f;
	--color-link-visited: #609;

	/////////////
	// Typography
	// Font family
	--font-family-default: "Raleway", "Prociono", "Playfair Display", "Liu Jian Mao Cao", "Jomolhari", "Lato", Helvetica, sans-serif;
	--font-family-heading: "Raleway", "Playfair Display", "Raleway", "Prociono", "Playfair Display", "Liu Jian Mao Cao", "Jomolhari", "Lato", Helvetica, sans-serif;

	// Weight
	--font-weight-default: 300;
	--font-weight-heading: 900;

	// Size
	--font-size-default: 1rem;
	--font-size-small: .8rem;
	--font-size-large: 1.2rem;
	--font-size-x-large: 1.8rem;

	--font-size-h1: 4.8rem;
	--font-size-h2: 4.2rem;
	--font-size-h3: 3.2rem;
	--font-size-h4: 2.2rem;
	--font-size-h5: 1.6rem;
	--font-size-h6: 1.2rem;

	// Height, spacing decoration
	--line-height-default: 1.8;
	--line-height-heading: 1.2;

	--letter-spacing-default: .05em;
	--letter-spacing-heading: 0;
}
