////////////////
// Media Queries
@custom-media --tablet (min-width: 600px);
@custom-media --tablet-max (max-width: 599px);

@custom-media --laptop (min-width: 1080px);
@custom-media --laptop-max (max-width: 1079px);

@custom-media --desktop (min-width: 1260px);
@custom-media --desktop-max (max-width: 1259px);

/////////////
// Site width
// NOTE: These need to be SASS because we can't use calc(--variables) in media queries
$site-width: 1080px;
$site-width-min: 90vw;

/////////
// Config
:root {
	/////////
	// Colors
	--color-body-bg: #fefefe;
	--color-border: #dedede;
	--color-overlay: rgba(0, 0, 0, .4);

	// Typography colors
	--color-text: #111;
	--color-heading: #222;

	// Link colors
	--color-link: #e91e63;
	--color-link-hover: #e91e63;
	--color-link-visited: #609;

	// Shades of gray
	--color-lightgray: #fafafa;
	--color-gray: #999;
	--color-darkgray: #444;

	// Social media
	--color-facebook: #3b5998;
	--color-twitter: #4099FF;
	--color-linkedin: #0077b5;

	// Form/button related
	--color-disabled: #bbb;
	--color-error: #f00;
	--color-success: #0f0;
	--color-warning: #f90;

	// Site colors (EXAMPLES)
	--color-primary: #e91e63;
	--color-secondary: #06f;

	/////////////
	// Typography
	// Font family
	--font-family-default: "Raleway", Helvetica, sans-serif;
	--font-family-heading: "Raleway", Helvetica, sans-serif;

	// Weight
	--font-weight-default: 300;
	--font-weight-heading: 900;

	// Size
	--font-size-default: 1rem;
	--font-size-small: .8rem;
	--font-size-large: 1.2rem;
	--font-size-x-large: 1.8rem;

	--font-size-h1: 4.8rem;
	--font-size-h2: 4.2rem;
	--font-size-h3: 3.2rem;
	--font-size-h4: 2.2rem;
	--font-size-h5: 1.6rem;
	--font-size-h6: 1.2rem;

	// Height & spacing
	--line-height-default: 1.8;
	--line-height-heading: 1;

	--letter-spacing-default: .05em;
	--letter-spacing-heading: 0;

	//////////
	// Spacing
	--spacing-section: 6.8rem;
	--spacing-default: 1.4rem;
	--spacing-x-small: .3rem;
	--spacing-small: .6rem;
	--spacing-large: 2.6rem;
	--spacing-x-large: 4.2rem;
	--grid-gap: 3.2rem;

	/////////
	// Button
	--button-color: var(--color-link);
	--button-padding-vertical: .5rem;
	--button-padding-horizontal: 1.5rem;
	--button-border-radius: 2rem;

	///////
	// Form
	--form-field-color: white;
	--form-field-text-color: var(--color-text);
	--form-field-padding-vertical: var(--button-padding-vertical);
	--form-field-padding-horizontal: var(--button-padding-vertical);
	--form-field-border-radius: 0;
	--form-field-border-focus-color: var(--color-link);

	//////////
	// Shadows
	--shadow-1: 0 6px 8px 0 rgba(46, 77, 100, 0.39);
	--shadow-2: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
	--shadow-3: 0 60px 140px -40px rgba(0, 0, 0, .25), 0 60px 120px -20px rgba(0, 0, 0, .25);
}
