////////////////
// Media Queries
@custom-media --tablet (min-width: 600px);
@custom-media --tablet-max (max-width: 599px);

@custom-media --laptop (min-width: 1080px);
@custom-media --laptop-max (max-width: 1079px);

@custom-media --desktop (min-width: 1260px);
@custom-media --desktop-max (max-width: 1259px);

///////////////////
// Custom selectors
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--form-field input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color];

/////////////
// Site width
// NOTE: These need to be SASS because we can't use calc(--variables) in media queries
$site-width: 1080px;
$site-width-min: 90%;
$site-width-reached: #{strip-unit($site-width) / strip-unit($site-width-min) * 100px};

/////////
// Config
:root {
	/////////
	// Colors
	--color-body-bg: #fefefe;
	--color-border: #dedede;
	--color-overlay: rgba(0, 0, 0, .4);

	// Typography colors
	--color-text: #111;
	--color-heading: #222;

	// Link colors
	--color-link: #e91e63;
	--color-link-hover: #e91e63;
	--color-link-visited: #609;

	// Shades of gray
	--color-lightgray: #fafafa;
	--color-gray: #999;
	--color-darkgray: #444;

	// Social media
	--color-facebook: #3b5998;
	--color-twitter: #4099FF;
	--color-linkedin: #0077b5;

	// Form/button related
	--color-disabled: #bbb;
	--color-error: #f00;
	--color-success: #0f0;
	--color-warning: #f90;

	// Site colors (EXAMPLES)
	--color-primary: #369;
	--color-secondary: #06f;

	/////////////
	// Typography
	// Font family
	--font-family-default: "Raleway", Helvetica, sans-serif;
	--font-family-heading: "Raleway", Helvetica, sans-serif;

	// Weight
	--font-weight-default: 300;
	--font-weight-heading: 900;

	// Size
	--font-size-default: 1rem;
	--font-size-small: .8rem;
	--font-size-large: 1.2rem;
	--font-size-x-large: 1.8rem;

	--font-size-h1: 4.8rem;
	--font-size-h2: 4.2rem;
	--font-size-h3: 3.2rem;
	--font-size-h4: 2.2rem;
	--font-size-h5: 1.6rem;
	--font-size-h6: 1.2rem;

	// Height & spacing
	--line-height-default: 1.8;
	--line-height-heading: 1.2;

	--letter-spacing-default: .05em;
	--letter-spacing-heading: 0;

	//////////
	// Spacing
	--spacing-section: 6.8rem;
	--spacing-default: 1.4rem;
	--spacing-small: .6rem;
	--spacing-large: 2.6rem;
	--spacing-x-large: 4.2rem;
	--grid-gap: 3.2rem;

	// Slanting (TODO: top-right, bottom-right, top-left, bottom-left etc)
	--slant-top: polygon(0 calc(var(--spacing-section) / 3), 100% 0, 100% 100%, 0 100%);
	--slant-bottom: polygon(0 0, 100% 0, 100% calc(100% - var(--spacing-section) / 3), 0 100%);
	--slant-top-bottom: polygon(0 calc(var(--spacing-section) / 3), 100% 0, 100% calc(100% - var(--spacing-section) / 3), 0 100%);

	/////////
	// Button
	--color-button: var(--color-link);
	--color-button-text: white;

	--spacing-button-vertical: .5rem;
	--spacing-button-horizontal: 1.5rem;

	--border-button: 0;
	--border-radius-button: 2rem;

	///////
	// Form
	--color-form-field: white;
	--color-form-field-text: var(--color-text);
	--color-placeholder: var(--color-gray);

	--spacing-form-field-vertical: var(--spacing-button-vertical);
	--spacing-form-field-horizontal: var(--spacing-button-vertical);

	--border-form-field: 1px solid var(--color-border);
	--border-form-field-focus: 1px solid var(--color-link);
	--border-width-form-field: 1px;
	--border-radius-form-field: 0;

	/////////////
	// Calculated
	// NOTE: Don't change this
	--site-padding: #{(100% - $site-width-min) / 2};

	@media (min-width: #{$site-width-reached}) {
		--site-padding: calc((100vw - #{$site-width}) / 2);
	}
}
