// https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

/////////////
// Calculated
$site-width-reached: #{strip-unit($site-width) / strip-unit($site-width-min) * 100px};

//////////////////
// Calculated vars
:root {
	// Site padding
	--site-padding: #{(100vw - $site-width-min) / 2};

	@media (min-width: #{$site-width-reached}) {
		--site-padding: calc((100vw - #{$site-width}) / 2);
	}

	// Slanting (TODO: top-right, bottom-right, top-left, bottom-left etc)
	--slant-top: polygon(0 calc(var(--spacing-section) / 3), 100% 0, 100% 100%, 0 100%);
	--slant-bottom: polygon(0 0, 100% 0, 100% calc(100% - var(--spacing-section) / 3), 0 100%);
	--slant-top-bottom: polygon(0 calc(var(--spacing-section) / 3), 100% 0, 100% calc(100% - var(--spacing-section) / 3), 0 100%);
}

///////////////////
// Custom selectors
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--form-field input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color];
