// Import fonts & icons
// @import url('https://fonts.googleapis.com/css?family=Srisakdi|Raleway:300,300i,600,900&display=swap');
@import "icons";

// Import config/vars
@import "config";

// Import vendor
@import "~normalize.css/normalize.css";
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "~sleek-css/sleek-css";

// Import our stuff
@import "components/**/*.scss";
@import "modules/**/*.scss";
// @import "../../modules/**/*.scss";
