///////////////////////
// Import fonts & icons
// @import url('https://fonts.googleapis.com/css?family=Srisakdi|Raleway:300,300i,600,900&display=swap');
@import "icons";

////////////////
// Import config
@import "config";

/////////////////
// Import SleekUI
@import "~sleek-ui/src/sass/sleek-ui";

///////////////////
// Import our stuff
@import "components/**/*.scss";
@import "modules/**/*.scss";
// @import "../../modules/**/*.scss";

///////////////
// Global stuff
html {
	// Nicer text
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Smooth scroll
	scroll-behavior: smooth;
	--scroll-behavior: smooth; // Polyfill

//	scroll-padding: var(--site-header-height-sticky) 0 0;
//	--scroll-padding: var(--site-header-height-sticky) 0 0;

	// Smaller text in low res
	@media (--tablet-max) {
		font-size: 80%;
	//	scroll-padding: calc(var(--site-header-height-sticky) * .8) 0 0;
	//	--scroll-padding: calc(var(--site-header-height-sticky) * .8) 0 0;
	}
}

// Prevent scrollbar (https://stackoverflow.com/a/46039555)
// NOTE: This also prevents the use of position: sticky
@media (--laptop-max) {
	html,
	body {
		position: relative;
		overflow-x: hidden;
	}
}

// Adminbar
#wpadminbar {
	opacity: 0;
	transition: opacity 0.5s 0.25s ease;

	&:hover {
		opacity: 1;
	}
}
