@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800,800i&display=swap');

@import "config";
@import "components/**/*.scss";
// @import "../../vendor/powerbuoy/**/*.scss";
@import "../../modules/**/*.scss";
@import "modules/**/*.scss";

body {
	@include container;

	background: var(--bg-color);
}

img {
	max-width: 100%;
	height: auto;
}

::placeholder {
	color: gray;
}

ul {
	.active > a,
	.active-parent > a,
	.active-ancestor > a {
		font-weight: bold;
	}
}
