////////////
// AutoIcons
$auto-icons: (
	'href*="facebook.com"': $icon-facebook,
	'href*="twitter.com"': $icon-twitter,
	'href*="linkedin.com"': $icon-linkedin,
	'href*="instagram.com"': $icon-instagram,
	'href*="pinterest.com"': $icon-pinterest,
	'href*="youtube.com"': $icon-youtube,
	'href*="vimeo.com"': $icon-vimeo,

	'href$=".pdf"': $icon-pdf,

	'href$=".doc"': $icon-document,
	'href$=".docx"': $icon-document,
	'href$=".odt"': $icon-document,
	'href$=".txt"': $icon-document,

	'href$=".xls"': $icon-excel,
	'href$=".xlsx"': $icon-excel,
	'href$=".ods"': $icon-excel,

	'href$=".ppt"': $icon-powerpoint,
	'href$=".pptx"': $icon-powerpoint,

	'href$=".zip"': $icon-zip,
	'href$=".rar"': $icon-zip,
	'href$=".tar"': $icon-zip,
	'href$=".gz"': $icon-zip,
	'href$=".7z"': $icon-zip,

	'href$=".jpg"': $icon-image,
	'href$=".jpeg"': $icon-image,
	'href$=".png"': $icon-image,
	'href$=".gif"': $icon-image,
	'href$=".bmp"': $icon-image,
	'href$=".svg"': $icon-image,
	'href$=".webp"': $icon-image,

	'href^="mailto:"': $icon-mail,
	'href^="tel:"': $icon-phone,
	'href*="/maps"': $icon-location
);

///////////////////////
// Custom media queries
@custom-media --tablet (min-width: 600px);
@custom-media --tablet-max (max-width: 599px);

@custom-media --laptop (min-width: 1080px);
@custom-media --laptop-max (max-width: 1079px);

@custom-media --desktop (min-width: 1260px);
@custom-media --desktop-max (max-width: 1259px);

/////////
// Config
$site-width: 1080px;

:root {
	// Site width
	--site-width-min: 90vw;
	--site-width-max: #{$site-width};

	// Colors
	--body-bg: #fefefe;

	--color-primary: #e91e63;
	--color-border: #dedede;
	--color-overlay: rgba(0, 0, 0, .6);
	--color-gray: #999;

	--color-facebook: #3b5998;
	--color-twitter: #4099FF;
	--color-linkedin: #0077b5;

	// Spacing
	--spacing-x-small: 0.3rem;
	--spacing-small: 0.6rem;
	--spacing-medium: 1.4rem;
	--spacing-large: 4.2rem;
	--spacing-x-large: 6.8rem;

	// Layout spacing
	--container-margin: var(--spacing-x-large);
	--grid-gap: var(--spacing-large);
	--section-padding: var(--spacing-x-large);

	// Layout
	--border-radius: 0.25rem;
	--shadow-small: 0 0.4rem 0.6rem 0 rgba(46, 77, 100, 0.39);
	--shadow-medium: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	--shadow-large: 0 3.75rem 8.75rem -2.5rem rgba(0, 0, 0, 0.25), 0 3.75rem 7.5rem -1.25rem rgba(0, 0, 0, 0.25);
	--easing: ease;

	// Body text
	--body-font-size: 1rem;
	--body-font-family: "Raleway", Helvetica, sans-serif;
	--body-font-weight: 300;
	--body-line-height: 1.8;
	--body-letter-spacing: 0.05em;
	--body-text-transform: none;
	--text-color: #111;

	// Headings
	--h1-size: 4.8rem;
	--h2-size: 4.2rem;
	--h3-size: 2.6rem;
	--h4-size: 2.2rem;
	--h5-size: 1.6rem;
	--h6-size: 1.2rem;

	--heading-font-family: inherit;
	--heading-font-weight: 900;
	--heading-line-height: 1.2;
	--heading-letter-spacing: 0;
	--heading-text-transform: none;
	--heading-color: inherit;

	// Links
	--link-color: #e91e63;
	--link-color-hover: #e91e63;

	// Button
	--button-color: #e91e63;
	--button-padding-vertical: 0.8rem;
	--button-padding-horizontal: 1.6rem;

	--button-font-size: 0.8rem;
	--button-font-family: inherit;
	--button-font-weight: normal;
	--button-letter-spacing: 0;
	--button-line-height: 1.2;
	--button-text-transform: uppercase;
	--button-text-color: white;

	--button-border-radius: 2rem;
	--button-transition-duration: 0.25s;
	--button-shadow: none;

	// Dialog
/*	--dialog-background: white;
	--dialog-width: 40rem;
	--dialog-padding: var(--spacing-large);
	--dialog-shadow: var(--shadow-large);
	--dialog-close-button-size: 2rem;
	--dialog-close-button-color: var(--text-color);
	--dialog-backdrop-color: var(--color-overlay);
	--dialog-animation-duration: 0.5s; */

	// Form
	--form-field-bg: white;
	--form-field-padding-vertical: 0.75rem;
	--form-field-padding-horizontal: 1.25rem;

	--form-field-font-size: var(--body-font-size);
	--form-field-font-family: var(--body-font-family);
	--form-field-font-weight: var(--body-font-weight);
	--form-field-letter-spacing: var(--body-letter-spacing);
	--form-field-line-height: var(--body-line-height);
	--form-field-text-color: #111;

	--form-field-border-color: var(--color-border);
	--form-field-border-radius: var(--border-radius);
	--form-field-border-focus-color: var(--color-primary);

	--select-arrow-size: 0.5rem;
	--placeholder-color: var(--color-gray, #999);

	// Burger menu
/*	--burger-menu-size: 24px;
	--burger-menu-thickness: 2px; */
}
