// Helper mixins
@mixin full-height ($valign: center, $align: flex-start) {
	min-height: 100vh;
	display: flex;
	align-items: $align;
	justify-content: $valign;
	flex-direction: column;

	> * {
		width: 100%;
	}

	@if ($align == center) {
		text-align: center;
	}
}

@mixin text-label {
	font-size: var(--font-size-small);
	text-transform: uppercase;
}

@mixin first-p {
	font-size: var(--font-size-large);
	font-weight: bold;
}

@mixin wysiwyg {
	@include clearfix;

	> p:first-child,
	> :--heading:first-child ~ p:first-of-type {
		@include first-p;
	}

	.illustration {
		display: flex;
		align-items: center;

		img {
			display: inline-block;
			width: 3rem;
			margin: 0 1rem 0 0;
		}
	}
}

@mixin card-large {
	background: white;
	padding: var(--spacing-large);
	margin: 0 0 var(--spacing-large);
	border-radius: .5rem;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);

	@media (--tablet) {
		padding: var(--spacing-section);
	}
}

// Some basic styling
html {
	scroll-behavior: smooth;

	@media (--tablet-max) {
		font-size: 80%;
	}
}

h2 {
	small {
		display: block;
		font-weight: 300;
		font-size: 100%;
	}
}

// Site header
#site-header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: var(--spacing-default);

	color: white;
	font-size: var(--font-size-small);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

	a {
		color: currentColor;
	}

	// Logo
	.site-logo {
		@include heading(2rem, false);

		margin: 0;
	}

	// Tagline
	.site-logo + p {
		display: none;
	}

	// Menu
	ul {
		@include list-separated;
		@include text-label;

		@media (--tablet-max) {
			display: none;
		}
	}
}

// Single page
#single-page {
	background: radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 60%);
	color: white;

	a,
	:--heading {
		color: currentColor;
	}

	// Hero
	> header {
		@include section;
		@include full-height(center, center);

		// Logo
		h1 {
			line-height: 1;
			font-size: 2rem;

			strong {
				display: block;
				font-size: 7rem;

				svg {
					max-width: 90%;
				}
			}

			small {
				display: block;
				font-size: 1.8rem;
				font-family: "Great Vibes";
			}

			@media (--tablet) {
				strong {
					font-size: 9.3rem;
				}
			}
		}

		// Menu
		ul {
			@include text-label;

			margin: 0;
			list-style: none;

			> li {
				display: inline-block;
				margin: 0 var(--spacing-small);
			}
		}
	}

	// Page content
	> article {
		@include section($site-width * .75);
		@include wysiwyg;

		strong {
			font-weight: normal;
			font-style: italic;
		}
	}
}

// Text-block
#text-block {
	@include section;
	@include full-height(center);

	background: #111;
	color: white;

	:--heading {
		color: currentColor;
	}
}

// Vue component
#vue-component {
	@include section($site-width * .75);
	@include full-height(center, center);

	background: radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 80%);

	> header {
		color: white;
		text-align: center;
		margin-bottom: var(--spacing-large);

		:--heading {
			color: currentColor;
		}

		p {
			@include first-p;
		}
	}

	> [data-vue] {
		@include card-large;
	}
}

// Featured posts
#featured-posts {
	@include container;

	> header {
		margin-bottom: var(--spacing-large);
		text-align: center;
	}
}

// Sidebar
#sidebar {
	@include section;
	@include grid;

	--font-size-h2: var(--font-size-h4);

	background: #1a1a1a;
	color: white;

	@media (--tablet) {
		--grid-cols: 2;
	}

	@media (--laptop) {
		--grid-cols: 3;
	}

	a,
	:--heading {
		color: currentColor;
	}

	ul {
		margin-left: 0;
		list-style: none;
	}
}

#site-footer {
	@include section;
	@include text-label;

	--spacing-section: 1rem;

	background: #111;
	color: #aaa;

	display: flex;
	align-items: center;
	justify-content: space-between;

	a,
	:--heading {
		color: currentColor;
	}

	p {
		margin: 0;
	}

	ul {
		@include list-separated;

		margin-bottom: 0;
	}
}
