// Base styling
html {
	background: $default-bg;
	font-size: 100%;
}

body {
	@include body-text;
	color: $body-color;
	word-wrap: break-word;
}

// Wrapping elements
main, 
aside, 
section, 
article, 
header, 
footer {
	margin: 0 0 $margin * 2;
}

// Headings
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	@include heading($h1-size);
}

h2 {
	@include heading-size($h2-size);
}

h3 {
	@include heading-size($h3-size);
}

h4 {
	@include heading-size($h4-size);
}

h5 {
	@include heading-size($h5-size);
}

h6 {
	@include heading-size($h6-size);
}

// Paragraphs, lists and other block elements
p {
	margin: 0 0 $margin;
}

// Lists
ul, 
ol {
	margin: 0 0 $margin ($margin * 2);
	padding: 0;
}

dl {
	margin: 0 0 $margin;
}

	dt {
		font-weight: bold;
	}

	dd {
		margin: 0 0 0 $margin;
	}

// Quotes
q, 
blockquote {
	quotes: "“" "”" "‘" "’";
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

blockquote {
	margin: 0 0 $margin;

	font-family: Georgia, serif;
	font-style: italic;
	font-weight: lighter;
	color: $gray-color;
	font-size: 120%;

	@media #{$bp-3} {
		font-size: 140%;
	}

	& > :last-child {
		margin-bottom: 0;
	}

	& > :first-child:before, 
	& > :last-child:after {
		content: open-quote;
	}

	& > :last-child:after {
		content: close-quote;
	}
}

// Rulers and code boxes
hr {
	margin: ($margin * 1.5) 0;
	border-top: 1px solid $border-color;
}

pre {
	background: $alt-bg;

	margin: 0 0 $margin;
	padding: $margin;

	max-height: 300px;
	resize: y;
	overflow: auto;

	border: 1px solid $border-color;
}

code {
	word-wrap: break-word;
}

pre code {
	word-wrap: normal;
}

// Tables
table {
	margin: 0 0 $margin;
	border-spacing: 0;
}

	th, 
	td {
		padding: ($margin / 2) $margin;
		border: 1px solid $border-color;
		text-align: left;
		vertical-align: top;
	}

	th, 
	tr:hover td {
		background: $alt-bg;
	}

// Links
a {
	@include link;
}

// Small and other inline elements
small {
	@include small;
}

abbr {
	cursor: help;
}

// Images
img {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

// Iframes
iframe {
	width: 100%;
	height: 300px;
	border: 0;
	resize: y;

	// Fix for iOS responsive bug
	width: 1px;
	min-width: 100%;
	*width: 100%;
}
