div.fb-comments, 
div.fb-comments > span, 
div.fb-comments iframe {
	width: 100% !important;
}

#comments {
	
}

	#comments ol {
		margin-left: 0;
		list-style: none;
	}

		#comments ol li {
			
		}

			#comments ol li div.comment-body {
				margin: 0 0 15px;
				padding-left: 42px;
				min-height: 42px;
				position: relative;
			}

				#comments ol li div.comment-body div.comment-author {
				
				}

					#comments ol li div.comment-body div.comment-author img {
						margin: 0;
						position: absolute;
						left: 0;
						top: 0;
						width: 32px;
					}

					#comments ol li div.comment-body div.comment-meta {
						font-size: $small-size;
						margin: 0 0 10px;
					}

				#comments ol li ul {
					margin-left: 30px;
					list-style: none;
				}
