#featured {
	position: relative;
}

	#featured ul {
		margin: 0 0 15px;
		list-style: none;
	}

		#featured ul li {
			
		}

		html.js #featured ul li:not(:first-child) {
			display: none;
		}

			#featured ul li figure {
				position: relative;
			}

				#featured ul li figure a {
					
				}

					#featured ul li figure a img {
						width: 100%;
						margin: 0;
					}

				#featured ul li figure figcaption {
					background: rgba(0, 0, 0, .8);

					position: absolute;
					left: 0;
					bottom: 0;

					padding: 10px 0;
					width: 100%;

					@include border-bottom-left-radius(5px);
					@include border-bottom-right-radius(5px);
				}

					#featured ul li figure figcaption h2 {
						font-size: $large-size;
						padding: 0 30px;
					}

					#featured ul li figure figcaption p {
						padding: 0 30px;
					}

// Navigation
/* #featured {
	padding-bottom: 60px; // fit nav
}

#featured-navigation {
	background: #fff;

	padding: 5px 10px;

	position: absolute;
	left: 50%;
	bottom: -30px;
	z-index: 100;

	white-space: nowrap;

	@include box-shadow(0 1px 3px #999);
	@include border-radius(5px);
}

	#featured-navigation a {
		display: inline-block;
		margin: 0 5px;
		width: 120px;
		height: 60px;
		overflow: hidden;
	}

		#featured-navigation a img {
			width: 300px;
		}

		#featured-navigation a.activeSlide img {
			opacity: .5;
		} */

// Bullet navigation
#featured-navigation {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1;
	font-size: 1px;
}

	#featured-navigation a {
		background: rgba(0, 0, 0, .4);

		display: inline-block;
		position: relative;

		width: 12px;
		height: 12px;
		margin: 0 5px;

		text-indent: -1000000px;

		@include box-shadow(inset 1px 1px 1px rgba(0, 0, 0, .6));
		@include border-radius(6px);
	}

	#featured-navigation a.activeSlide:before {
		background: #eee;

		display: block;
		content: "\0020";

		width: 8px;
		height: 8px;

		position: absolute;
		left: 2px;
		top: 2px;

		@include box-shadow(inset 1px 1px 1px rgba(255, 255, 255, .6));
		@include border-radius(4px);
	}

		#featured-navigation a img {
			display: none;
		}
