#pagination {
	@include clearfix;
	@include font-size($large-size);
}

	#pagination > a, 
	#pagination > span {
		float: left;
	}

	#pagination span {
		color: $link-color;
	}

	#pagination span:hover {
		color: $link-color-hover;
	}

	#pagination > a[rel=next], 
	#pagination > a + a, 
	#pagination > a.next, 
	#pagination > span.next {
		float: right;
	}

	#pagination .prev {
		@include icon($fa-var-arrow-circle-left);
	}

	#pagination .next {
		@include icon($fa-var-arrow-circle-right, after);
	}
