// Featured posts
#featured-posts,
#latest-posts,
#related-posts {
	@include container;

	> header {
		@include header-module;
	}

	article {
		@include post;
	}
}

// Animation
#featured-posts,
#latest-posts,
#related-posts {
	> header {
		h2 {
			transform: translate(0, 1.5rem);
			opacity: 0;
			transition: transform 0.75s ease,
						opacity 0.75s ease;
		}

		&.was-in-view {
			h2 {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	article {
		header figure,
		header h3,
		header p,
		> p,
		footer {
			transform: translate(0, 1.5rem);
			opacity: 0;
			transition: transform 0.75s ease,
						opacity 0.75s ease;
		}

		header h3 {
			transition-delay: .5s;
		}

		header p {
			transition-delay: .75s;
		}

		> p {
			transition-delay: 1s;
		}

		footer {
			transition-delay: 1.5s;
		}

		@media (--laptop) {
			header figure {
				transform: translate(-2.5rem, 0);
			}

			&:nth-child(odd) {
				header figure {
					transform: translate(2.5rem, 0);
				}
			}
		}

		&.was-in-view {
			header figure,
			header h3,
			header p,
			> p,
			footer {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
}
