// Single page
#single-page {
	background: radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 60%);
	color: white;

	a:not(:hover),
	:--heading {
		color: currentColor;
	}

	// Hero
	> header {
		@include section;
		@include full-height(center, center);

		a {
			color: currentColor;
		}

		// Logo (TODO: Front-page only)
		h1 {
			line-height: 1;
			font-size: 2rem;

			strong {
				display: block;
				font-size: 7rem;

				svg {
					max-width: 90%;
				}
			}

			small {
				display: block;
				font-size: 1.8rem;
				font-family: "Great Vibes";
			}

			@media (--tablet) {
				strong {
					font-size: 9.3rem;
				}
			}
		}

		// Menu
		ul {
			@include text-label;

			margin: 0;
			list-style: none;

			> li {
				display: inline-block;
				margin: 0 var(--spacing-small);
			}
		}
	}

	// Page content
	> article {
		@include section($site-width * .75);
		@include wysiwyg;

		text-align: center;

		.illustration {
			justify-content: center;

			img {
				margin: 0 var(--spacing-small);
			}
		}
	}
}

// Hero animation
#single-page > header {
	h1 strong,
	h1 small,
	li {
		transform: translateY(1.5rem);
		opacity: 0;
		transition: transform 0.75s ease,
					opacity 0.75s ease;
	}

	h1 small {
		transition-delay: 3s;
	}

	li {
		transition-delay: 3.25s;

		&:nth-child(1) {
			transition-delay: 3.25s;
		}

		&:nth-child(2) {
			transition-delay: 3.35s;
		}

		&:nth-child(3) {
			transition-delay: 3.45s;
		}

		&:nth-child(4) {
			transition-delay: 3.55s;
		}
	}

	&.was-in-view {
		#sleek-logo {
			animation-play-state: running;

			path {
				animation-play-state: running;
			}
		}

		h1 strong,
		h1 small,
		li {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

// Page content animation
#single-page > article {
	h2,
	img,
	p {
		transform: translateY(1.5rem);
		opacity: 0;
		transition: transform 0.75s ease,
					opacity 0.75s ease;
	}

	p {
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				transition-delay: $i * 0.1s + 0.5s;
			}
		}
	}

	figure {
		@for $i from 1 through 9 {
			a:nth-child(#{$i}) img {
				transition-delay: $i * 0.1s + 1s;
			}
		}
	}

	&.was-in-view {
		h2,
		img,
		p {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
