@keyframes single-page-gradient {
	from {
		background-position: 50% -450px;
	}

	to {
		background-position: 50% 0;
	}
}

// Single page (TODO: Front-page only)
#single-page {
	@include text-color(white);

	background: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 60%) no-repeat 50% 0;
	animation: single-page-gradient 6s ease forwards paused;

	&.was-in-view {
		animation-play-state: running;
	}
}

// Hero
#single-page > header {
	@include section;
	@include full-height(center, center);

	position: relative;

	a {
		color: currentColor;
	}

	// Logo (TODO: Front-page only)
	h1 {
	//	margin-bottom: var(--spacing-small);
		line-height: 1;
		font-size: 2rem;

		strong {
			display: block;
			font-size: 7rem;

			svg {
				max-width: 90%;
			}
		}

		small {
			display: block;
			font-size: 1.6rem;
			font-family: 'Srisakdi', cursive;
		}

		@media (--tablet) {
			strong {
				font-size: 9.3rem;
			}
		}
	}

	// Menu
	ul {
		@include text-label;

		margin: 0;
		list-style: none;

		> li {
			display: inline-block;
			margin: 0 var(--spacing-small);
		}
	}

	// Down arrow
	.down {
		width: auto;
		position: absolute;
		left: 50%;
		bottom: var(--spacing-large);
		transform: translate(-50%, 0);

		font-size: 1.5rem;
		line-height: 1;

		a {
			display: block;
			padding: var(--spacing-small);
			transform: translate(0, 0);
			transition: transform .25s ease;

			&:hover {
				transform: translate(0, .5rem);
			}
		}
	}
}

// Hero animation
#single-page > header {
	h1 small,
	li,
	.down {
		transform: translate(0, 1.5rem);
		opacity: 0;
		transition: transform 0.75s ease,
					opacity 0.75s ease;
	}

	h1 small {
		transition-delay: 3s;
	}

	li {
		transition-delay: 3.25s;

		&:nth-child(1) {
			transition-delay: 3.25s;
		}

		&:nth-child(2) {
			transition-delay: 3.35s;
		}

		&:nth-child(3) {
			transition-delay: 3.45s;
		}

		&:nth-child(4) {
			transition-delay: 3.55s;
		}
	}

	.down {
		transform: translate(-50%, -1.5rem);
		transition-delay: 4s;
	}

	&.was-in-view {
		#sleek-logo {
			animation-play-state: running;

			path {
				animation-play-state: running;
			}
		}

		h1 small,
		li {
			transform: translate(0, 0);
			opacity: 1;
		}

		.down {
			transform: translate(-50%, 0);
			opacity: 1;
		}
	}
}

// Page content
#single-page > article {
	@include section($site-width * .75);
	@include full-height(center, center);
	@include fade-in-children;

	> p:first-child,
	> :--heading:first-child ~ p:first-of-type {
		@include first-p;
	}

	.illustration {
		@include gallery-logo(2rem);
		@include fade-in-children(10);

		margin-top: var(--spacing-large);

		img {
			@media (--tablet) {
				width: 3.25rem;
			}
		}
	}

	&.was-in-view .illustration > * {
		@include fade-in;
	}
}
