figure.illustration {
	text-align: center;

	img {
		display: inline-block;
		width: auto;
		height: 3rem;
	}
}

figure.video-embed {
	.embed {
		border: 1.5rem solid white;
		box-shadow: var(--shadow-medium);
	}

	figcaption {
		font-size: 1.2rem;
		font-style: italic;
	}
}
