svg.radial-progress {
	circle {
		stroke-width: var(--radial-progress-stroke-width, 1rem);
	}

	circle.meter {
		stroke: var(--radial-progress-meter-stroke, #eaeaea);
	}

	circle.value {
		stroke: var(--radial-progress-value-stroke, var(--color-primary, blue));
	}
}
