@mixin img-left ($bp: '(min-width: 600px)') {
	display: block;
	margin: 0 0 $margin;

	@if ($bp) {
		@media #{$bp} {
			float: left;
			margin-right: $gutter;
		}
	}
	@else {
		float: left;
		margin-right: $gutter;
	}
}

@mixin img-right ($bp: '(min-width: 600px)') {
	display: block;
	margin: 0 0 $margin;

	@if ($bp) {
		@media #{$bp} {
			float: right;
			margin-left: $gutter;
		}
	}
	@else {
		float: right;
		margin-left: $gutter;
	}
}
