@mixin img-left ($bp: '(min-width: 600px)') {
	display: block;
	margin: 0 0 $margin;

	@if ($bp) {
		@media #{$bp} {
			float: left;
			margin: 0 $margin $margin 0;
		}
	}
	@else {
		float: left;
		margin: 0 $margin $margin 0;
	}
}

@mixin img-right ($bp: '(min-width: 600px)') {
	display: block;
	margin: 0 0 $margin;

	@if ($bp) {
		@media #{$bp} {
			float: left;
			margin: 0 0 $margin $margin;
		}
	}
	@else {
		float: left;
		margin: 0 0 $margin $margin;
	}
}
