/**
 * @arrow
 *
 * Adds an arrow to an element
 *
 * @param		position	$position: where the arrow should be added; left/top/right/bottom
 * @param		unit		$size: size of arrow (20px for example)
 * @param		color		$background: the arrow's background color
 * @param		unit		$border-width: the width of the arrow's border
 * @param		color		$border-color: color of the border
 * @param		percent		$align: how to align the arrow
 */
@mixin arrow ($position: left, $size: 20px, $background: $white-color, $border-width: 1px, $border-color: $border-color, $align: 50%) {
	$invPosition: right;
	$horizOrVertic: top;

	@if ($position == left) {
		$invPosition: right;
		$horizOrVertic: top;
	}
	@elseif ($position == top) {
		$invPosition: bottom;
		$horizOrVertic: left;
	}
	@elseif ($position == right) {
		$invPosition: left;
		$horizOrVertic: top;
	}
	@elseif ($position == bottom) {
		$invPosition: top;
		$horizOrVertic: left;
	}

	position: relative;

	&:after, &:before {
		#{$invPosition}: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(250, 250, 250, 0);
		border-#{$invPosition}-color: $background;
		border-width: $size;
		#{$horizOrVertic}: $align;
		margin-#{$horizOrVertic}: -$size;
	}

	&:before {
		border-color: rgba(102, 102, 102, 0);
		border-#{$invPosition}-color: $border-color;
		border-width: $size + $border-width + 1px;
		#{$horizOrVertic}: $align;
		margin-#{$horizOrVertic}: -($size + $border-width + 1px);
	}
}
