/**
 * Mixins
 */
@mixin button ($bg-color, $fade, $border-radius, $border: false, $shadow: true, $padding-top: .8rem, $padding-side: 2.6rem) {
	@include button-background($bg-color, $fade, $border);

	display: inline-block;
	vertical-align: middle;

	box-sizing: border-box;

	margin: 0;
	padding: $padding-top $padding-side;

	font-size: $default-size;
	color: $white-color;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	line-height: $default-line-height;

	transition: box-shadow .05s ease-out, transform .05s ease-out;
	border-radius: $button-border-radius;

	// Box shadow
	@if ($shadow == true) {
		box-shadow: 1px 1px 1px $shadow-color;
	}
	@elseif ($shadow) {
		box-shadow: $shadow;
	}
	@else {
		box-shadow: 0;
	}

	// Hover and visited (:active set byt button-background())
	&:visited {
		color: $white-color;
	}

	&:hover {
		color: $white-color;
		transform: scale(1.02);

		// Box shadow
		@if ($shadow == true) {
			box-shadow: 2px 2px 6px rgba($shadow-color, .5);
		}
		@elseif ($shadow) {
			box-shadow: $shadow; // TODO: So it can't be animated??
		}
		@else {
			box-shadow: 0;
		}
	}
}

@mixin button-background ($bg, $fade: $button-fade, $border: false) {
	// Gradient(?) background
	@if ($fade > 0) {
		background: linear-gradient(180deg, $bg, darken($bg, $fade));
	
		&:active {
			background: linear-gradient(180deg, darken($bg, $fade), $bg);
		}
	}
	@else {
		background: $bg;
	}

	// Border
	@if ($border == true) {
		border: 4px solid lighten($bg, 10%);
	}
	@elseif ($border) {
		border: $border;
	}
	@else {
		border: 0;
	}

	// Text shadow
	$btn-shadow-color: $shadow-color;

	@if ($bg != transparent) {
		$btn-shadow-color: darken($bg, 20%);
	}

	text-shadow: -1px -1px 0 $btn-shadow-color;
}

/**
 * Classes
 */
.button {
	@include button($button-color, $button-fade, $button-border-radius, $button-border, $button-shadow, $button-padding-top, $button-padding-side);

	// Alignment, block etc
	&.block {
		display: block;
		margin-bottom: $margin;
	}

	&.left {
		text-align: left;
	}

	&.right {
		text-align: right;
	}

	// Different colors
	&.secondary {
		@include button-background($button-secondary-color, $button-fade, $button-border);
	}

	&.disabled {
		@include button-background($button-disabled-color, $button-fade, $button-border);
	}
}
