/**
 * @col
 *
 * FLoats elements into columns
 *
 * @param	int		$num: how many columns
 * @param	unit	$gutter: space between columns
 * @param	string	$selector: child-selector
 */
@mixin cols ($num: 3, $gutter: $gutter, $selector: '*') {
	@include clearfix;

	clear: both;

	// In case it's used on a UL
	margin-left: 0;
	list-style: none;

	> #{$selector} {
		@include col($num, $gutter);
	}

	> #{$selector}:nth-of-type(#{$num}n) + * {
		clear: both;
	}
}

/**
 * @col
 *
 * A single column
 *
 * @param	int		$num: how many items per row
 * @param	unit	$gutter: space between cols
 */
@mixin col ($num: 3, $gutter: $gutter) {
	@include clearfix;

	float: left;

	$total-gutter: $gutter * ($num - 1);
	$width-subtract: $total-gutter / $num;

	box-sizing: border-box;
	width: calc(#{(100% / $num)} - #{$width-subtract});
	margin-right: $gutter;

	// Remove margin from last element in row
	&:nth-of-type(#{$num}n) {
		margin-right: 0;
	}

	// RTL support
	[dir=rtl] & {
		float: right;
		margin-right: 0;
		margin-left: $gutter;
	}

	[dir=rtl] &:nth-of-type(#{$num}n) {
		margin-left: 0;
	}
}

/**
 * CSS Classes
 */
ul[class*="cols-"] {
	margin-left: 0;
	list-style: none;
}

/*	[class*="cols-"] > * {
		margin-bottom: $margin;
	} */

.cols-1-2 {
	@media #{$bp-1-max} {
	//	text-align: center;
	}

	@media #{$bp-2} {
		@include cols(2, $gutter);
	}
}

.cols-1-3 {
	@media #{$bp-1-max} {
	//	text-align: center;
	}

	@media #{$bp-2} and #{$bp-3-max} {
		@include cols(2, $gutter);
	}

	@media #{$bp-3} {
		@include cols(3, $gutter);
	}
}

.cols-1-4 {
	@media #{$bp-1-max} {
	//	text-align: center;
	}

	@media #{$bp-2} and #{$bp-2-max} {
		@include cols(2, $gutter);
	}

	@media #{$bp-3} {
		@include cols(4, $gutter);
	}
}

.cols-1-5 {
	@media #{$bp-1-max} {
	//	text-align: center;
	}

	@media #{$bp-2} and #{$bp-3-max} {
		@include cols(2, $gutter);
	}

	@media #{$bp-3} and #{$bp-4-max} {
		@include cols(3, $gutter);
	}

	@media #{$bp-4} {
		@include cols(5, $gutter);
	}
}
