@mixin device ($width, $color: #222) {
	$orig-w: 300;
	$orig-h: 530;
	$orig-bt: 60;
	$orig-bb: 60;
	$orig-bl: 10;
	$orig-br: 10;

	$height: round(($orig-h / $orig-w) * $width);
	$bt: round(($orig-bt / $orig-h) * $height);
	$br: round(($orig-br / $orig-w) * $width);
	$bb: round(($orig-bb / $orig-h) * $height);
	$bl: round(($orig-bl / $orig-w) * $width);

	position: relative;

	width: $width;
	height: $height;

	overflow: hidden;

	border: 1px solid $color;
	border-width: $bt $br $bb $bl;
	box-shadow: 0 0 0 ($bl / 4) lighten($color, 10%);
	border-radius: #{$bt}/#{round($bt / 2)};

	// Oh fuck, these won't work with overflow hidden...
	&:before {
		background: darken($color, 5%);

		display: block;
		content: "";

		position: absolute;
		left: 50%;
		top: -#{round($bt / 2) + round($bt / 6 / 2)};

		width: 25%;
		height: round($bt / 6);

		margin-left: -12.5%;

		border: 1px solid darken($color, 10%);
		border-radius: round($bt / 6 / 2);
	}
}

/* @mixin device ($src, $render-width, $width, $height, $offset-top, $offset-right, $offset-bottom, $offset-left) {
	$ratio: $render-width / $width;
	$border-top-width: strip-units($offset-top / 100) * $height * $ratio;
	$border-right-width: strip-units($offset-right / 100) * $width * $ratio;
	$border-bottom-width: strip-units($offset-bottom / 100) * $height * $ratio;
	$border-left-width: strip-units($offset-left / 100) * $width * $ratio;

	border-image: url($src) $offset-top $offset-right $offset-bottom $offset-left;
	border-width: #{$border-top-width}px #{$border-right-width}px #{$border-bottom-width}px #{$border-left-width}px;

	width: #{$render-width - $border-left-width - $border-right-width}px;
	height: #{$height * $ratio - $border-top-width - $border-bottom-width}px;

	overflow: hidden;
} */
