@mixin increment-transition ($el, $time, $num, $offset: 0) {
	$chain: '';

	@for $i from 1 through $num {
		$chain: $chain + ' + ' + $el;

		& #{$chain} {
			transition-delay: #{$i * $time + $offset}s;
		}
	}
}
