/**
 * @strip-units
 *
 * Removes any unit (%, px, rem etc) from a number
 *
 * @param	int		$number: the number
 */
@function strip-units ($number) {
	@return $number / ($number * 0 + 1);
}

/**
 * @ellipsis
 *
 * Prevents text from wrapping and instead adds an ellipsis to the end
 */
@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**
 * @clearfix
 *
 * Classic clearfix
 */
@mixin clearfix {
	zoom: 1;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/**
 * @separated-inline-list
 *
 * Displays a list of items inline, separating them with a character and margin
 *
 * @param	string	$separator: text to separate items with
 * @param	unit	$margin: potential margin between items
 */
@mixin separated-inline-list ($separator: ' | ', $margin: 0) {
	margin-left: 0;
	list-style: none;

	> li {
		display: inline-block;
	}

	> li:after {
		content: $separator;
		margin: 0 $margin;
	}

	> li:last-child:after {
		display: none;
	}
}
