/**
 * @a11y-hide
 *
 * Hides an element in such a way that it's still read by screen readers
 */
@mixin a11y-hide {
	position: absolute;
	left: -1000000px;
	top: -1000000px;

	[dir=rtl] & {
		left: auto;
		right: -1000000px;
	}
}

/**
 * @a11y-show
 *
 * Un-hides an a11y-hidden element
 */
@mixin a11y-show {
	position: static;
	left: auto;
	rigth: auto;
	top: auto;
}

/**
 * @strip-units
 *
 * Removes any unit (%, px, rem etc) from a number
 *
 * @param	int		$number: the number
 */
@function strip-units ($number) {
	@return $number / ($number * 0 + 1);
}

/**
 * @ellipsis
 *
 * Prevents text from wrapping and instead adds an ellipsis to the end
 */
@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**
 * @clearfix
 *
 * Classic clearfix
 */
@mixin clearfix {
	zoom: 1;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/**
 * @separated-inline-list
 *
 * Displays a list of items inline, separating them with a character and margin
 *
 * @param	string	$separator: text to separate items with
 * @param	unit	$margin: potential margin between items
 */
@mixin separated-inline-list ($separator: ' | ', $margin: 0) {
	margin-left: 0;
	list-style: none;

	> li {
		display: inline-block;
	}

	> li:after {
		content: $separator;
		margin: 0 $margin;
	}

	> li:last-child:after {
		display: none;
	}
}

/**
 * @data-definition
 *
 * Displays a DL with DT/DD combo as key: value pairs
 */
@mixin data-definition {
	dt {
		display: inline;
		font-weight: bold;
	}

	dt:after {
		content: ": ";
	}

	dd {
		display: inline;
		margin: 0;
	}

	dd:after {
		content: "\a";
		white-space: pre;
	}
}
