@mixin section ($bg: transparent) {
	@include clearfix;

	background-color: $bg;

	display: block;
	position: relative;

	margin: 0;
	padding: ($margin * 3) ((100% - $site-width) / 2);

	@media (min-width: $max-site-width + 100) {
		padding-left: 5%; // For non-calc-support
		padding-right: 5%; // For non-calc-support

		padding-left: calc(50% - #{$max-site-width / 2});
		padding-right: calc(50% - #{$max-site-width / 2});
	}
}

// Version where gutter is made with borders instead
/* @mixin section ($bg: transparent) {
	padding: ($margin * 2) 0;

	border-left: #{strip-units((100% - $site-width) / 2)}vw solid transparent;
	border-right: #{strip-units((100% - $site-width) / 2)}vw solid transparent;

	@media (min-width: $max-site-width + 100) {
		border-left-width: calc(50vw - #{$max-site-width / 2});
		border-right-width: calc(50vw - #{$max-site-width / 2});
	}
} */
