@mixin section ($bg: transparent) {
	@include clearfix;

	background-color: $bg;

	display: block;
	position: relative;

	margin: 0;
	padding-top: $margin * 3;
	padding-bottom: $margin * 3;

	@include section-centering;

	> :last-child {
		margin-bottom: 0;
	}
}

@mixin unsection {
	background: trasparent;
	padding: 0;
}

@mixin section-centering ($offset: 0px) {
	padding-left: ((100% - $site-width) / 2);
	padding-right: ((100% - $site-width) / 2);

	padding-left: calc(((100% - $site-width) / 2) + #{$offset});
	padding-right: calc(((100% - $site-width) / 2) + #{$offset});

	@media (min-width: $max-site-width + 100) {
		padding-left: ((100% - $site-width) / 2); // For non-calc-support
		padding-right: ((100% - $site-width) / 2); // For non-calc-support

		padding-left: calc(50% - #{$max-site-width / 2} + #{$offset});
		padding-right: calc(50% - #{$max-site-width / 2} + #{$offset});
	}
}

@mixin section-right {
	right: 5%;

	@media (min-width: $max-site-width + 100) {
		right: 5%;
		right: calc(50% - #{$max-site-width / 2});
	}
}

@mixin section-left {
	left: 5%;

	@media (min-width: $max-site-width + 100) {
		left: 5%;
		left: calc(50% - #{$max-site-width / 2});
	}
}

@mixin section-bottom {
	bottom: $margin * 3;
}

@mixin section-top {
	top: $margin * 3;
}

// Version where gutter is made with borders instead
@mixin section-border-centering {
	padding-left: 0;
	padding-right: 0;
	border-left: #{strip-units((100% - $site-width) / 2)}vw solid transparent;
	border-right: #{strip-units((100% - $site-width) / 2)}vw solid transparent;

	@media (min-width: $max-site-width + 100) {
		border-left-width: calc(50vw - #{$max-site-width / 2});
		border-right-width: calc(50vw - #{$max-site-width / 2});
	}
}
