@mixin tag {
	background: #f3f3f3;

	display: inline-block;
	padding: 0 6px;

	text-transform: uppercase;
	font-size: 60%;
	text-decoration: none;
	color: $default-color;

	border: 1px solid #e3e3e3;
	border-radius: 4px;

	transition: opacity .1s ease-in-out;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}

@mixin tags {
	margin-left: 0;
	list-style: none;

	li {
		display: inline-block;

		a {
			@include tag;
		}
	}
}
