@mixin body-text ($font-size: $body-font-size) {
	font-family: $body-font;
	font-weight: $body-font-weight;
	font-size: $font-size;
	line-height: $body-line-height;
	letter-spacing: $body-letter-spacing;
	color: $body-color;
}

@mixin heading ($font-size: $h1-size) {
	margin: 0 0 ($margin / 2);

	@include heading-size($font-size);

	font-family: $heading-font;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
	letter-spacing: $heading-letter-spacing;
	color: $heading-color;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	small {
		display: block;
		font-size: 60%;
		letter-spacing: $heading-letter-spacing / 2;
		line-height: 1.2;
	}
}

@mixin heading-size ($font-size) {
	font-size: $font-size;

	// Smaller headings on mobile
	@media #{$bp-3-max} {
		font-size: $font-size * .8;
	}
}

@mixin small {
	display: inline-block;
	font-size: $body-font-size * .8;
	color: $gray-color;

	a {
		color: $gray-color;

		&:hover {
			color: $link-color-hover;
		}
	}
}

@mixin link {
	color: $link-color;
	text-decoration: $link-decoration;

	&:visited {
	//	color: $link-color-visited;
	}

	&:hover {
		color: $link-color-hover;

		@if ($link-decoration == underline) {
			text-decoration: none;
		}
		@else {
			text-decoration: underline;
		}
	}
}

@mixin neutral-link {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
