@mixin button ($color: $link-color) {
//	@include linear-gradient($color, darken($color, 10%));
	background: $color;

	display: inline-block;
	padding: 14px 30px;

	color: $white-color;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;

	border: 0;
	@include border-radius($border-radius);
//	@include box-shadow(0 2px 1px rgba(0, 0, 0, .2));

	&:hover {
		color: $white-color;
		@include box-shadow(0 3px 2px rgba(0, 0, 0, .2));
	}

	&:active {
		@include linear-gradient(darken($color, 10%), $color);
	}
}

.button {
	@include button;
}
