@mixin button {
	@include button-base;

	&:hover {
		// TODO: Add hover effects here
	}
}

@mixin button-ghost {
	&:not(:hover) {
		--button-text-color: var(--button-color);

		background: transparent;
	}
}

// Normal button
.button,
button,
input[type=submit] {
	@include button;
}

// Ghost button
.button--ghost {
	@include button-ghost;
}

// Button colors
$button-colors: ("black": black, "white": white);

@each $color-name, $color in $button-colors {
	.button--#{$color-name} {
		--button-color: #{$color};
	}
}

// Special case for bright buttons
.button--white {
	--button-text-color: var(--color-primary);
}
