@mixin button {
	@include button-base;

	&:hover {
		// TODO: Add hover effects here
	}
}

@mixin button-ghost {
	&:not(:hover) {
		--button-text-color: var(--button-color);

		background: transparent;
	}
}

// Normal button
.button,
button,
input[type=submit] {
	@include button;
}

// Ghost button
.button--ghost {
	@include button-ghost;
}

// Small button
.button--small {
	--button-scale: 0.75;

	font-size: calc(var(--button-scale) * var(--button-font-size));
	padding-inline: calc(var(--button-scale) * var(--button-padding-x));
	padding-block: calc(var(--button-scale) * var(--button-padding-y));
}