// CF7
.wpcf7 {
	.screen-reader-response {
		display: none;
	}

	.wpcf7-not-valid-tip {
		margin: var(--spacing-small) 0 0;
	}

	.ajax-loader {
		display: none;
		margin-left: var(--spacing-medium);

		&:before {
			@include icon($icon-spinner);

			margin: 0;
		}

		&.is-active {
			display: inline;

			&:before {
				animation: spin 2s infinite linear;
			}
		}
	}
}

// HS
.hs-form {
	fieldset {
		max-width: none !important;
	}

	.hs-input {
		width: 100% !important;
	}

	// Legal checkbox
	.legal-consent-container .hs-form-booleancheckbox-display input {
		float: none !important;
		width: auto !important;
		margin-right: var(--spacing-small);
	}

	.legal-consent-container .hs-form-booleancheckbox-display > span {
		display: inline;
		margin: 0;
	}

	// Cols
	fieldset.form-columns-1,
	fieldset.form-columns-2,
	fieldset.form-columns-3,
	fieldset.form-columns-4,
	fieldset.form-columns-5,
	fieldset.form-columns-6,
	fieldset.form-columns-7,
	fieldset.form-columns-8 {
		.hs-form-field {
			width: auto !important;
			float: none !important;
		}

		.input {
			margin: 0 !important;
		}
	}

	@media (--tablet) {
		@for $i from 2 through 8 {
			fieldset.form-columns-#{$i} {
				$grid-gap: 1rem;
				$total-gap: ($i - 1) * $grid-gap;
				$gap-per-item: $total-gap / $i;

				.hs-form-field {
					float: left !important;
					width: calc(#{100% / $i} - #{$gap-per-item}) !important;
					margin-right: $grid-gap;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.hs-form-field {
	display: block;
	margin: 0 0 var(--spacing-medium);

	// Labels
	> label {
		display: block;
		margin: 0 0 var(--spacing-small);
	}

	// Checkboxes / radios
	ul.inputs-list {
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 0 var(--spacing-medium) var(--spacing-medium) 0;
		}
	}

	// Don't show *
	.hs-form-required {
		display: none;
	}

	// List of errors
	ul.hs-error-msgs {
		margin: var(--spacing-small) 0 0;
		list-style: none;

		li {
			display: block;
		}
	}

	.hs-error-msg {
		color: color(error);
	}
}

.hs_error_rollup {
	display: none;
}
