html {
	--page-transition-duration: .4s;

	&::before {
		background: white;

		display: block;
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 999;

		transform: scaleX(0);
		transform-origin: right 50%;
		transition: transform var(--page-transition-duration) ease-in;
	}

	&.loading::before {
		transform: scaleX(1);
	}

	&.leaving::before {
		transform: scaleX(1);
		transform-origin: left 50%;
		transition-timing-function: ease-out;
	}
}
