html {
	--page-transition-duration: .5s;

	&::before {
		background: white;

		display: block;
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 999;

		transform: scaleX(0) skew(0, 0);
		transform-origin: right 50%;
		transition: transform var(--page-transition-duration) ease-in-out;
	}

	&.loading::before {
		transform: scaleX(1) skew(0, 0);
	}

	&.leaving::before {
		transform: scaleX(1) skew(0, 0);
		transform-origin: left 50%;
	}
}
