// Base
*,
:before,
:after {
	box-sizing: border-box;
}

html {
	background: var(--color-body-bg);
	font-size: 100%;
}

body {
	@include text;
}

// Headings
:--heading {
	@include heading;
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

// Inlines
a {
	color: var(--color-link);
	text-decoration: none;
	transition: color .25s ease-in-out;

	&:hover {
		color: var(--color-link-hover);
	}
}

strong,
b {
	font-weight: bold;
}

// Blocks
p {
	margin: 0 0 var(--spacing-default);
}

// Lists
ul,
ol {
	margin: 0 0 var(--spacing-default) var(--spacing-large);
	padding: 0;
}

dl {
	margin: 0 0 var(--spacing-default);
}

// Responsive video
.video {
	position: relative;
	padding-bottom: 56.25%; // 16:9
	height: 0;

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
