.button,
.button--ghost,
button,
input[type=submit] {
	background: var(--color-button);

	display: inline-block;
	vertical-align: middle;
	transition: all var(--transition-duration) ease;

	box-sizing: border-box;
	padding: var(--spacing-button-vertical) var(--spacing-button-horizontal);

	font-size: var(--font-size-default);
	font-family: var(--font-family-default);
	font-weight: var(--font-weight-default);

	letter-spacing: var(--letter-spacing-default);
	line-height: var(--line-height-default);

	text-transform: none;
	text-decoration: none;
	text-align: center;
	color: var(--color-button-text);

	outline: 0;
	border: 1px solid var(--color-button);
	border-radius: var(--border-radius-button);
}

.button--ghost {
	background: transparent;
	color: var(--color-button);
}
