// Single blog post
#single-post {
	> header {
		@include fade-in-children;

		@media (--tablet-max) {
			@include container;

			margin-top: 0;
			margin-bottom: var(--spacing-large);

			> figure {
				@include break-out;
			}
		}

		@media (--tablet) {
			@include section;

			position: relative;
			margin-bottom: var(--section-padding);
			padding-right: calc(50% + var(--spacing-x-large));
			padding-top: calc(var(--section-padding) * 2);
			text-align: right;

			> figure {
				position: absolute;
				left: 50%;
				top: 0;
				right: 0;
				bottom: 0;
				margin: 0;

				img {
					@include img-background;
				}
			}
		}

		h1 {
			margin: 0;
		}

		p {
			@include list-separated(' • ');
			@include text-label;
			@include text-color(var(--color-gray));
		}
	}

	> article {
		@include container($site-width * .5);
		@include fade-in-children(30);

		margin-top: 0;

		> p:first-child {
			@include text-highlight;
		}
	}
}
