// SVG Stroke Animation
@keyframes svg-stroke-animation-stroke {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes svg-stroke-animation-fill {
	to {
		fill: white;
	}
}

.svg-stroke-animation {
	fill: transparent;
	animation: svg-stroke-animation-fill 2s ease 2.5s forwards paused;

	path {
		stroke-dasharray: var(--path-length);
		stroke-dashoffset: var(--path-length);
		animation: svg-stroke-animation-stroke 1.5s ease forwards paused;

		@for $i from 2 through 5 {
			&:nth-of-type(#{$i}) {
				animation-delay: #{.5s * $i - 1};
			}
		}
	}
}
