// Text-block
#text-block {
	@include container;
	@include clearfix;
	@include fade-in-children;

	> h2 {
		text-align: center;
	}

	> h2 + p {
		@include text-highlight;

		text-align: center;
		margin-bottom: var(--spacing-large);
	}

	// Code blocks
	@media (--tablet) {
		pre {
			width: calc(50% - (var(--grid-gap) / 2));
			float: left;
		}

		pre + pre {
			float: right;
		}
	}
}
