// Text-block
#text-block {
	@include container;
	@include clearfix;
	@include fade-in-children;

	position: relative;

	> h2 {
		text-align: center;
	}

	> h2 + p {
		@include text-highlight;

		text-align: center;
	}

	> figure {
		position: absolute;
		left: var(--site-padding);
		top: var(--section-padding);
		bottom: var(--section-padding);
		right: calc(50% - (var(--grid-gap) / 2));

		margin: 0;

		box-shadow: var(--shadow-large);

		img {
			@include img-background;
		}
	}

	> figure ~ * {
		padding-left: calc(50% + (var(--grid-gap) / 2));
	}

	> figure + h2,
	> figure + h2 + p {
		text-align: left;
	}

	// Code blocks
	@media (--tablet) {
		pre {
			width: calc(50% - (var(--grid-gap) / 2));
			float: left;
			margin-top: var(--spacing-large);
		}

		pre + pre {
			float: right;
		}
	}
}
