@mixin form-field {
	background: var(--color-form-field);

	appearance: none;
	outline: 0;

	display: inline-block;
	vertical-align: middle;

	box-sizing: border-box;
	width: 100%;
	max-width: 100%; // In case user changes width we still want max-width 100%

	margin: 0;
	padding: var(--spacing-form-field-vertical) var(--spacing-form-field-horizontal);

	font-size: var(--font-size-default);
	font-family: var(--font-family-default);
	font-weight: var(--font-weight-default);

	letter-spacing: var(--letter-spacing-default);
	line-height: var(--line-height-default);

	text-transform: none;
	text-decoration: none;
	text-align: left;
	color: var(--color-form-field-text);

	transition: all var(--transition-duration) ease-in-out;
	border: var(--border-form-field);
	border-width: var(--border-width-form-field);
	border-radius: var(--border-radius-form-field);

	&:focus {
		outline: 0;
		border: var(--border-form-field-focus);
		border-width: var(--border-width-form-field);
	}
}

@mixin form-select {
	@include form-field;

	background: var(--color-form-field-bg) url($form-select-arrow) no-repeat;
	background-position: right var(--spacing-form-field-horizontal) top 50%;
	background-size: .5rem auto;
	padding-right: calc(var(--spacing-form-field-horizontal) * 2 + .5rem);
}
