@mixin img-background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center center;
}

@mixin img-ratio ($width: 16, $height: 9) {
	$padding-bottom: ($height / $width * 100);

	position: relative;
	overflow: hidden;

	&::before {
		display: block;
		content: "";
		padding-bottom: $padding-bottom + 0%;
	}

	img {
		@include img-background;
	}
}
