// Separated
@mixin list-separated ($separator: '\a0|\a0') {
	margin-left: 0;
	padding-left: 0;
	list-style: none;

	> * {
		display: inline-block;

		&:not(:last-child):after {
			content: $separator;
		}
	}
}

// Key/value list
@mixin list-key-val ($after: ":") {
	display: grid;
	grid-template-columns: max-content auto;
	grid-column-gap: var(--spacing-small);

	> * {
		grid-column-start: 2;
		margin: 0;
	}

	> :nth-child(odd) {
		grid-column-start: 1;

		&::after {
			content: $after;
		}
	}
}
