@mixin section ($width: $site-width) {
	@if ($width != $site-width) {
		$reached: #{strip-unit($width) / strip-unit($site-width-min) * 100px};

		--site-padding: #{(100% - $site-width-min) / 2};

		@media (min-width: #{$reached}) {
			--site-padding: calc((100vw - #{$width}) / 2);
		}
	}

	padding: var(--spacing-section) var(--site-padding);
}
