@mixin heading ($size: var(--font-size-h1), $color: var(--color-heading)) {
	display: block;
	margin: 0 0 var(--spacing-default);

	font-weight: var(--font-weight-heading);
	font-size: $size;
	font-family: var(--font-family-heading);

	line-height: var(--line-height-heading);
	letter-spacing: var(--letter-spacing-heading);

	@if ($color) {
		color: $color;
	}

	a {
		color: currentcolor;
	}
}

@mixin text ($color: var(--color-text)) {
	font-size: var(--font-size-default);
	font-family: var(--font-family-default);
	font-weight: var(--font-weight-default);

	letter-spacing: var(--letter-spacing-default);
	line-height: var(--line-height-default);
	text-transform: none; // TODO: Probably shouldn't be hard-coded

	@if ($color) {
		color: $color;
	}
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin hyphens {
	word-wrap: break-word;
	hyphens: auto;
}
