@mixin a11y-hide {
	position: absolute;
	left: -100000px;
	top: -100000px;
}

@mixin a11y-show {
	position: static;
	left: auto;
	top: auto;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// https://css-tricks.com/full-width-containers-limited-width-parents/
@mixin break-out {
	width: 100vw;

	position: relative;
	left: 50%;
	right: 50%;

	margin-left: -50vw;
	margin-right: -50vw;
}
