body {
	padding: 0;
	margin: 0;
}

/* Header */
body > header {
	padding: 2rem;
	border-bottom: 1px solid rgba(100, 100, 100, .4);
}

	body > header p {
		margin: 0;
	}

/* Nav */
body > nav {
}

	body > nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

		body > nav ul li {
			display: block;
			border-bottom: 1px solid rgba(100, 100, 100, .4);
		}

			body > nav ul li a {
				display: block;
				padding: 1rem 2rem;
				color: inherit;
			}

/* Each section */
main section {
}

	/* Section header */
	main section > header {
		background: rgba(50, 50, 50, .2);
		padding: 2rem;
		border-bottom: 1px solid rgba(100, 100, 100, .4);
	}

		main section > header h2 {
			margin: 0;
		}

	/* Each component */
	main section article {
		padding: 2rem;
		border-bottom: 1px solid rgba(100, 100, 100, .4);
	}

		/* Example and code */
		main section article > div {

		}

			main section article div.example-container div.example {
				background-image: linear-gradient(45deg, #f4f4f4 25%, transparent 25%, transparent 75%, #f4f4f4 75%, #f4f4f4), linear-gradient(45deg, #f4f4f4 25%, transparent 25%, transparent 75%, #f4f4f4 75%, #f4f4f4);
			    background-size: 20px 20px;
			    background-position: 0 0, 10px 10px;

			    margin: 0 0 1.5rem;
			    padding: 1rem;
			    border: 1px solid rgba(100, 100, 100, .4);

			    position: relative;
			    overflow: hidden;
			}

@media (min-width: 1000px) {
	main section article {
		overflow: hidden;
	}

		main section article header {

		}

		main section article > div {
			width: calc(50% - 1rem);
			float: left;
		}

		main section article > div + div {
			float: right;
		}
}

@media (min-width: 1200px) {
	body:after {
		content: "";
		display: table;
		clear: both;
	}

	body > nav {
		width: 20rem;
		float: left;
		position: sticky;
		top: 0;
	}

	main {
		width: calc(100% - 20rem);
		float: right;
		border-left: 1px solid rgba(100, 100, 100, .4);
	}
}

/* Syntax Highlight */
pre {
	background: #393939;

    margin: 0 0 1.5rem;
    max-height: 30rem;
    overflow: auto;

    padding: 1rem;
    color: #c6c6c6;
    font-size: .8rem;
}

.hljs-tag {
    color: #ddc982;
}

.hljs-title {
    color: #ddc982;
}

.hljs-attribute {
    color: #c6c6c6;
}

.hljs-value {
    color: #a9c978;
}
