#cookie-consent,
#site-notice {
	background: var(--color-overlay, rgba(0, 0, 0, .8));

	padding: var(--spacing-small, 1rem);

	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;

	font-size: var(--font-size-small, .8rem);
	color: white;
	text-align: center;
}

#site-notice ~ #cookie-consent {
	bottom: calc(var(--spacing-small, 1rem) * 2 + var(--font-size-small, .8rem) * var(--line-height-default, 1.15));
}

#outdated-browser-warning {
	background: white;

	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99;
	transform: translate(-50%, -50%);

	width: 40rem;
	max-width: 80%;

	padding: 2rem;
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, .9);
}
