#cookie-consent {
	background: var(--notice-bg, var(--color-overlay));
	padding: var(--notice-padding, var(--spacing-medium));

	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;

	font-size: var(--notice-font-size, 80%);
	color: var(--notice-text-color, white);
	text-align: center;
}

#outdated-browser-warning {
	background: white;

	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99;
	transform: translate(-50%, -50%);

	width: 40rem;
	max-width: 80%;

	padding: 2rem;
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, .9);
}
