// Allow positioning stuff outside slideshow
.glide {
	position: static;
}

// Allow showing stuff outside slides
.glide__slides {
	overflow: visible;
}

.slideshow-nav {
	@media (--tablet-max) {
		display: none;
	}

	.slideshow-prev,
	.slideshow-next {
		position: absolute;
		left: calc(var(--site-padding) / 2);
		top: 50%;
		transform: translate(-50%);
	}

	.slideshow-next {
		left: auto;
		right: calc(var(--site-padding) / 2);
		transform: translate(50%, -50%);
	}
}

.slideshow-bullets {
	margin-top: var(--spacing-default);
	text-align: center;

	a {
		background: transparent;

		display: inline-block;
		vertical-align: middle;
		position: relative;

		width: 0.5rem;
		height: 0.5rem;
		margin: 0 var(--spacing-x-small);

		font-size: 0;
		border-radius: 50%;

		transition: background 0.5s ease;

		&::before,
		&::after {
			display: block;
			content: "";

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(1);

			width: 100%;
			height: 100%;

			border: 1px solid currentColor;
			border-radius: 50%;
		}

		&::after {
			width: 200%;
			height: 200%;
			transform: translate(-50%, -50%) scale(0.5);
			transition: transform 0.5s ease;
		}
	}

	.glide__bullet--active {
		background: currentColor;

		&::after {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

// Slideshow with slides visible outside
.slideshow--bleed {
	.glide__track {
		overflow: visible;
	}
}
